<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</body>
</html>
{%extends 'default.html'%}{%load static%}
{%block title%}{{title}}{%endblock%}
{%block css_body%}navbarosn cosmo{%endblock%}
{%block content%}


<div class="container wow fadeIn" style="z-index:999999;position:relative;" data-wow-duration="2.3s" data-wow-delay="1.5s">
    <div class="content margin-0 pr e1 w-94 mw-94">
        <div class="h1-e1">
            <h1 class=""><span class="wow slideInLeft" data-wow-duration="1s" data-wow-delay="2.3s">Здесь </span><span class="wow slideInLeft" data-wow-offset="10"  data-wow-iteration="10">рождаются</span> <br> <!---лучшиебанки---> <span class="element"></span></h1>
           <div class="" style="width:100%;height:169px;"></div> <p class="wow fadeIn" data-wow-duration="1.5s" data-wow-delay="2.3s"><a href="">Vk</a><a href="">Behance</a><a href="">Youtube</a></p>
        </div>
    </div>
</div>
<!--<div class="video-container">-->
<!--   <video class="css-1q2r8xl e827huz0" autoplay preload="auto" no-controls autoplay loop playsinline muted>-->
<!--    <source src="https://videos-cdn.readymag.com/5a265bbfee4355042755be85/5c6046d5d21efd7a407540c0/9fc711ad-58bc-4324-b0eb-c3c9d5f1e186.mp4" type="video/mp4">-->
<!--</video>-->
<!--</div><div class="lo"></div>-->
<div class="clearfix" style="width:100%;height:69px;"></div>
<h3 class=" wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.6s" data-wow-offset="300"
style="color:#FFFFFF;width:95%;margin: 0 auto;text-align:right;font-weight:400;"></h3>
<div class="clearfix" style="width:100%;height:69px;"></div>
{% comment %} <div class="super wow fadeIn" data-wow-duration="2.3s" data-wow-delay="1.5s"  data-wow-offset="300">
<div class="listaem">
    <h3>Разработка</h3><p>Реализовываем самые сложные интернет-проекты полностью своими силами</p>
    <div class="vidi-rabot">
        <span>веб-разработка PHP/Python/.Net</span><span> мобильная-разработка iOS/Android</span><span> информационная безопасность</span><span> высоконагруженные системы</span><span> проектирование серверной архитектуры</span>
    </div>
</div>
<div class="video">
{% comment %} <img src="{% static '56e62f74ffb3113cf561da42cea0f08d.jpg' %}" alt=""> {% endcomment %}
{% comment %} <div class="izo"><img src="{% static 'experimental-play-puffy.png' %}" alt=""> showreel</div>
{% comment %} <div class="super-opisanie"></div> {% endcomment %}
{% comment %} <div class="video-opisanie">Боич — digital-продакшн полного цикла, с собственной продуктовой аналитикой, дизайном, веб- и мобильной разработкой.</div> {% endcomment %}

{% comment %} </div>  {% endcomment %}

{% comment %} </div> {% endcomment %}
<div class="clearfix" style="width:100%;height:69px;"></div>
<div class="container margin-0 mw-95 mw-94 lentatut">
    <div class="lenta wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.6s" data-wow-offset="100"><h4>Создаем функциональные сайты и сервисы
 с фокусом на дизайн, которые позволяют расти,
 зарабатывать или экономить.</h4>

    </div>
    <div class="otlenti">
        <div class="delaem wow fadeIn" data-wow-duration="0.6" data-wow-delay="0.6s" data-wow-offset="300">
        <a href="" class="wow fadeIn" data-wow-duration="0.9" data-wow-delay="0.9s">Разработка web и mob app</a>
        <a href="" class="wow fadeIn" data-wow-duration="1" data-wow-delay="1s">UX / UI дизайн</a>
        <a href="" class="wow fadeIn" data-wow-duration="1.1" data-wow-delay="1.1s">SEO / SERM / контент-маркетинг</a>
        <a href="" class="wow fadeIn" data-wow-duration="1.2" data-wow-delay="1.2s">Брендинг</a>
        <a href="" class="wow fadeIn" data-wow-duration="1.3" data-wow-delay="1.3s">Аналитика</a>
        <a href="" class="wow fadeIn" data-wow-duration="1.4" data-wow-delay="1.4s">Поддержка и развитие</a>
    </div>
        <div class="nagradi">
        <div class="nagrada wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.9s"><span>8</span> лет на рынке</div>
        <div class="nagrada wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1s"><span>18</span>клиентов из списка Forbes</div>
        <div class="nagrada wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1.1s"><span>30+</span>сотрудников в штате</div>
        <div class="nagrada wow fadeIn" data-wow-duration="0.6s" data-wow-delay="1.2s"><span>60+</span>наград в конкурсах</div>
    </div>
    {% comment %} <div class="rr-rr">
        <img src="{% static 'r1.png' %}" alt="">
    </div>
    <div class="rr-rr">
        <img src="{% static 'r1.png' %}" alt="">
    </div>
    <div class="rr-rr">
        <img src="{% static 'r1.png' %}" alt="">
    </div> {% endcomment %}
    </div>
</div>
<div class="container sdelannoe">
<div class="content mw-95 mw-95 margin-0">
<div class="clearfix" style="width:100%;height:69px;"></div>
<h3>Кейсы</h3>
<div class="clearfix" style="width:100%;height:69px;"></div>
</div>
    <div class="content margin-0 rr-rr-rr w-94 mw-94">
        <a href="">
        <div class="rr wow fadeIn">
            <div class="rr-rr"><div class="znachenie"><span>vue</span><span>python</span><span>web</span></div>
                <img src="{% static 'r1.png' %}" alt="">
                <div class="modnoe">
                    <div class="vid-rabot">
                        <p>Фирменный стиль "Росатом"</p><h6>Росатом</h6>
                    </div>
                </div>
            </div>
                <h3>sdfdsnfjksdnfjksdnfjk</h3>
        </div>
            </a><a href="">
        <div class="rr wow fadeIn" style="margin: 136px 0px 0px 0px;">
            <div class="rr-rr"><div class="znachenie"><span>vue</span><span>python</span><span>web</span></div>
                <img src="{% static 'r2.png' %}" alt="">
                <div class="modnoe">
                    <div class="vid-rabot">
                        <p>Разработка системы быстрых платежей</p>
                        <h6>Сбер</h6>
                    </div>
                </div>
            </div>
            </div>
        </a><a href="">
            <div class="rr wow fadeIn" style="margin: -136px 0px 0px 0px;" data-wow-offset="100">
            <div class="rr-rr"><div class="znachenie"><span>vue</span><span>python</span><span>web</span></div>
                <img src="{% static 'r1.png' %}" alt="">
                <div class="modnoe">
                    <div class="vid-rabot">
                        <p>Создание международной киберспортивной платформы</p>
                        <h6>Плэйстрайк</h6>
                    </div>
                </div>
            </div>
        </div>
        </a><a href="">
        <div class="rr wow fadeIn" data-wow-offset="160">
            <div class="rr-rr"><div class="znachenie"><span>vue</span><span>python</span><span>web</span></div>
                <img src="{% static 'r1.png' %}" alt="">
                <div class="modnoe"><div class="vid-rabot">
                    <p>ФЫВгшфгшфырагшрывагыыгва ывар ыгвары гврагыв</p><h6>Спортлото</h6>
                </div>
            </div>                
            </div>
        </div></a><a href="">
            <div class="rr wow fadeIn" style="margin: -136px 0px 0px 0px;">
            <div class="rr-rr"><div class="znachenie"><span>vue</span><span>python</span><span>web</span></div>
                <img src="{% static 'r1.png' %}" alt="">
                <div class="modnoe">
                    <div class="vid-rabot">
                        <p>FDGdfgdfgdfgdf gdfgd fgfd g</p><h6>asdasdasd</h6>
                    </div>
                </div>                
            </div>
        </div></a><a href="">
        <div class="rr wow fadeIn" style="">
            <div class="rr-rr"><div class="znachenie"><span>vue</span><span>python</span><span>web</span></div>
                <img src="{% static 'r2.png' %}" alt="">
                <div class="modnoe"><div class="vid-rabot">
                    <p>FGDFGdfgdfgdfg</p><h6>dfgdfgdfgfdg</h6>
                </div>
            </div>                
            </div>
        </div>
        </a>
    </div>
</div>
<div class="content margin-0 mw-95 w-94">
    <div class="rabota-glavnaya wow fadeIn">
    <div class="rabota-rabota">
    <h3>Работа у нас</h3>
    <p>Настал тот самый момент, когда нам нужно еще больше свежих мозгов для самых смелых проектов!</p>
    <a href="">Наша корпоративная культура</a>
    </div><div class="list-vakansiy">
        <ul class="vakansii">
            <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s"><a href="">— Python Middle - разработчик</a></li>
            <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s"><a href="">— Front-end - разработчик (Vue.js)</a></li>
            <li class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s"><a href="">— Flutter - разработчик</a></li>
            </ul>
            <a href="">Все вакансии</a>
        </div>
    </div>
</div>
<div class="conteiner napisat-zakaz">
<div class="napisat content mw-94 margin-0 df">
    <a href="">
        Задать вопрос
    </a>
</div>
</div>
<!-- <div class="content mw-94 margin-0 df" style="background-color: #FFFFFF;border-radius: 3px;padding: 36px;">
    <div class="" style="    padding: 3.3vw 3.3vw 3.3vw 1.3vw;"><h3 style="    color: #131313;
        font-size: 4.3vw;
        padding: 3.3vw 20px 3.3vw 19px;padding: 0 0 0 0;
        }">Есть проект?</h3>
        <p style="color: #9f9f9f;">
            Настал тот самый момент, когда нам нужно еще больше свежих мозгов для самых смелых проектов!
        </p></div>
    <div class="" style="width: 60%;">
        <form action="" style="display:flex;flex-direction:column;" class="footer-kontakt">
            <input type="text" placeholder="Имя">
            <input type="email" placeholder="Телефон">
            <input type="text" placeholder="Почта">
            <textarea name="" id="" cols="19" rows="10" placeholder="Опишите вопрос..."></textarea>
            <button class="" type="submit">Написать</button>
        </form>
    </div> -->
</div>
{%endblock%}