<footer class="footer wow fadeIn" data-wow-duration="0.3s" data-wow-delay="0.6s">
    <div class="content margin-0 mw-95 w-94">
        <div class="footer-content">
                    <div class="kontakti">
                        США 45 Rockfeller Plaza 20th fl,<br>
                        New York, NY 10111 +1 212-332-3400
                        <br><br>
                        Германия Friedrichstrabe 94, 10117<br>
                        Berlin +49 (0) 30-577 000 970
                        <br><br>
                        Россия - удалённое взаимодействие,<br>
                        с выездом менеджера на место<br>
                        заключение контракта
        </div>
    <div class="info">
        <span>info@boich.ru</span>
        <!---<a href="" style="color: #9f9f9f;
        border-bottom: 1px dashed;
        display: flex;
        width: 190px;"></a>--->Подписаться на газету

        <form action="">
            <div class="obyavlenita">
                <input type="email" placeholder="Email...">
                <button> <svg width="48" height="90" viewBox="0 0 48 90" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.31784 89.031C4.69768 89.6512 3.92249 89.9612 3.06977 89.9612C2.21706 89.9612 1.44187 89.6512 0.821712 89.031C-0.418598 87.7907 -0.418598 85.7752 0.821712 84.5349L40.3566 45L0.821712 5.46511C-0.418598 4.2248 -0.418598 2.2093 0.821712 0.96899C2.06202 -0.27132 4.07753 -0.27132 5.31784 0.96899L47.1008 42.7519C48.3411 43.9922 48.3411 46.0077 47.1008 47.2481L5.31784 89.031V89.031Z" fill="white"/>
</svg><!---Ок---></button>
            </div>
        </form>


    </div>        <div class="prezentaciya-telefon">
          <span>@tom_jefferson</span>
        <a href="">Презентация <span>6 мб</span></a>
        </div>
        </div>

    </div>
    <div class="boich-ssilki content mw-94 margin-0">
        <div class="boich">Боич © 2014 - 2022</div><div class="ssilki">
            <a href="">Техническое задание</a>
            <a href="">Карта сайта</a>
            <a href="">Партнёрам</a>
            <a href="">Соглашение</a>
        </div>
     </div>
</footer>